@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-gray-900 text-white min-h-screen;
}