@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

:root {
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  @apply bg-gray-50 text-gray-900 min-h-screen;
}